@import "./home.css";
@import "./header.css";
@import "./responsive.css";
@import "./service.css";
@import "./dashboard.css";
@import "./registration.css";
@import "./report.css";
@import "./settings.css";
@import "./profile.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f8f7 !important;
}

@media only screen and (max-width:794px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
    }
}