@import "./home.css";
@import "./header.css";
@import "./responsive.css";
@import "./dashboard.css";
@import "./registration.css";
@import "./report.css";
@import "./profile.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
@media only screen and (max-width:794px) {
    body{
        padding-left: 5%;
        padding-right: 5%;
    }
}
