#profileCard{
    background-color: white;
    padding: 0px;
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    margin-right: 25px;
}
#img_profile{
    width: 100%;
    border-radius: 25px;
}
#profile_cord_name{
    font-weight: 600;
    float: left;
}
#profile_cord_name_rs{
    float: right;
    color: #949EBD;
  
}
#margin_botton{
  margin-bottom: 17px !important;  
}
#detailWholeProfileCard{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
}
#line_profile_card{
    margin: 0;
    padding: 0;
    color: #949EBD;
    margin-bottom: 18px;

}
#profileCardButton{
    margin: auto;
    border: none;
    outline: none;
    /* padding: 12px; */
    background-color: #5E37FF;
    color: white;
    border-radius: 0.28571429rem;
    line-height: 1.21428571em;
    padding: 0.67857143em 1em;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}
#right_side_card_list{
    padding: 14px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
#right_side_card_list_two{
    padding: 0;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
}
.list_left_side{
    float: left;
    font-size: 13px;
}
#list_left_side_1{
    color: black;
}
#list_left_side_2{
    color: #949EBD;
}
#list_right_side{
    float: right;
    margin: auto !important;
}
#right_side_list_header{
    font-size: 13px;
    color: #949EBD;
    float: right;
    margin: auto !important;
    border:1px solid #bbc0ce ;
    padding: 4px !important;
    padding-left:8px !important;
    padding-right: 8px !important;
    border-radius: 20px;
    margin-top: -4px !important;
}
#margin_top{
    margin-top: 25px !important;
}