@media only screen and (max-width:1267px) {
      #right_side_admin{
          display: none;
      } 
      #forPhoneProfile{
          display: grid !important;
          margin-top: 3px;
      }
}
@media only screen and (max-width:1066px) {
    #left_side_admin{
        display: none;
    } 
    #forPhoneMenu{
        display: grid !important;
        margin-top: 3px;
    }
    
}

@media only screen and (max-width:404px) {
    #seacher_Admin{
        display: none;
    }
    
}
@media only screen and (max-width:579px) {
    .MMBS{
        margin-bottom: 20px !important;
    }
}  
@media only screen and (max-width:583px) {
    #left_side_singup{
        display: none;
    }
} 
@media only screen and (max-width:372px) {
    #name_side_profile_card{
        display: none;
    }
    #profile_cord_name_rs{

        width: 100%;
    }
}
 
#forPhoneMenu{
    display: none; 
}
#forPhoneProfile{
    display: none;
}